{% extends 'base.html' %} {% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Selamat Datang di Fakultas Kedokteran</h1>
    <a href="" class="btn btn-outline-primary tombol">Tentang Untirta</a>
  </div>
</div>
<title>FK</title>
<br />
<h2>Daftar Dosen FKIP</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>NIP</th>
      <th>Nama</th>
      <th>Jabatan</th>
      <th>Foto</th>
      <th>Email</th>
      <th>Fakultas</th>
      <th>Prodi</th>
    </tr>
  </thead>
  {% for dosen in dataDosen %}
  <tr>
    <td>{{ dosen.nip }}</td>
    <td>{{ dosen.nama }}</td>
    <td>{{ dosen.jabatan}}</td>
    <td><img src="{{ dosen.foto }}" alt="Foto" class="rounded" width="75px" /></td>
    <td>{{ dosen.email }}</td>
    <td>{{ dosen.fakultas }}</td>
    <td>{{ dosen.prodi }}</td>
  </tr>
  {% endfor %}
</table>

<br />
<h2>Daftar Tenaga Pendidik FKIP</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>NIP</th>
      <th>Nama</th>
      <th>Tanggal Lahir</th>
      <th>Foto</th>
      <th>Email</th>
      <th>Unit</th>
    </tr>
  </thead>
  {% for tenagaPendidik in dataTenagaPendidik %}
  <tr>
    <td>{{ tenagaPendidik.nip }}</td>
    <td>{{ tenagaPendidik.nama }}</td>
    <td>{{ tenagaPendidik.tanggal_lahir }}</td>
    <td><img src="{{ tenagaPendidik.foto }}" alt="Foto" class="rounded" width="75px" /></td>
    <td>{{ tenagaPendidik.email }}</td>
    <td>{{ tenagaPendidik.unit }}</td>
  </tr>
  {% endfor %}
</table>

<br />
<h2>Daftar Mahasiswa FKIP</h2>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>NIM</th>
      <th>Nama</th>
      <th>Tanggal Lahir</th>
      <th>Foto</th>
      <th>Email</th>
      <th>Fakultas</th>
      <th>Prodi</th>
    </tr>
  </thead>
  {% for mahasiswa in dataMahasiswa %}
  <tr>
    <td>{{ mahasiswa.nim }}</td>
    <td>{{ mahasiswa.nama }}</td>
    <td>{{ mahasiswa.tanggal_lahir }}</td>
    <td><img src="{{ mahasiswa.foto }}" alt="Foto" class="rounded" width="75px" /></td>
    <td>{{ mahasiswa.email }}</td>
    <td>{{ mahasiswa.fakultas }}</td>
    <td>{{ mahasiswa.prodi }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
