{% extends 'base.html' %}

{% block content %}

    <h1><b><center>FAKULTAS EKONOMI DAN BISNIS</center></b></h1>
<center>
    <p><b>Fakultas Ekonomi dan Bisnis Universitas Sultan Ageng Tirtayasa didirikan pada tahun 1986 dengan dukungan dari kaum cendekiawan dan tokoh masyarakat dengan membuka Jurusan Manajemen. Atas anjuran dan dukungan PT Krakatau Steel, Fakultas Ekonomi dan Bisnis membuka Jurusan Akuntansi pada tahun 1987 guna memenuhi kebutuhan tenaga akuntan. Fakultas Ekonomi dan Bisnis mendapatkan status terdaftar pada tahun 1989 dengan SK Menteri Pendidikan dan Kebudayaan RI No. 0031/0/1989. Atas perkembangan dan kemajuan yang lebih baik pada tahun 1998, Fakultas Ekonomi dan Bisnis mendapat status "diakui" untuk Jurusan Manajemen dan status "terdaftar" untuk Jurusan Akuntansi dengan Surat Keputusan Direktur Jenderal Pendidikan Tingi Departemen Pendidikan dan Kebudayaan Republik Indonesia Nomor 133/IKTI/KEP/1998. Sejak penegerian Untirta tertanggal April 2004, Jurusan Manajemen mendapatkan akreditasi B dengan SK No. 003/BAN-PT/Ak-X/S1/V/2006.</b></p>
    <p><b>Fakultas Ekonomi dan Bisnis terdiri dari program studi :</b></p>
    <p><b>1. Jurusan Ilmu Manajemen</b></p>
    <p><b>2. Jurusan Akuntansi</b></p>
    <p><b>3. Jurusan Ekonomi Pembangunan</b></p>
    <p><b>4. Jurusan Ekonomi Islam</b></p>
</center>
    
{% endblock %}