{% extends 'base.html' %}

{% block content %}

    <h1><b><center>FAKULTAS HUKUM</center></b></h1>
<center>
    <p><b>Fakultas Hukum Universitas Sultan Ageng Tirtayasa berdiri tahun 1981 pada tanggal 1 Oktober 1981 dengan status sebagai STIH Serang yang bertempat di Keresidenan Banten, Jln. K.H. Sam’un dan merupakan embrio lahirnya Universitas Sultan Ageng Tirtayasa. Mulai tahun 1984, STIH Serang diintegrasikan sesuai dengan SK Mendikbud No. 0596/0/1984, menjadi Fakultas Hukum Universitas Sultan Ageng Tirtayasa, yang bertempat di Jl. Raya Jakarta KM. 4 Pakupatan, Serang. Fakultas Hukum pada tahun 1994 memperoleh status "terdaftar" berdasarkan SK Mendikbud No. 0597/0/1984. Pada tahun 1994, Fakultas Hukum kembali memperoleh status penetapan "terdaftar" kembali berdasarkan SK Ditjen Pendidikan Tinggi No. 059/Dikti/Kep./1994. Pada tahun 2000, Fakultas Hukum memperoleh status terakreditasi dengan peringkat "B", berdasarkan SK BAN-PT No. 19/BAN-PT/AK-IV/VIII/2000, dengan adanya SK Akreditasi tersebut maka Fakultas Hukum dapat menyelenggarakan proses pembelajaran secara mandiri.</b></p>
    <p><b>Fakultas Hukum Universitas Sultan Ageng Tirtayasa hanya terdiri dari program studi Ilmu Hukum saja.</b></p>
</center>
    
{% endblock %}