{% extends 'base.html' %}

{% block content %}

    <h1><b><center>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</center></b></h1>
<center>
    <p><b>Fakultas Keguruan dan Ilmu Pendidikan (FKIP) Universitas Sultan Ageng Tirtayasa merupakan fakultas tertua dengan program studi terbanyak di Untirta. Mahasiswa yang terdaftar pada tahun ajaran 2010/2011 tidak lagi didominasi oleh lulusan SMA di Banten tapi juga luar daerah seperti Jakarta, Jawa Barat, Jawa Tengah, Jawa Timur, Lampung, Padang, Medan, dan Palembang. Pengajar banyak didominasi dosen muda dari lulusan universitas terbaik di Indonesia.[perinci lagi] Program studi yang beragam bisa dijadikan acuan bagi para pelajar yang hendak melanjutkan studi di Untirta, khususnya dalam disiplin ilmu pendidikan. Tiap jurusan memiliki jejaring, baik dengan pihak swasta maupun asing dalam usaha peningkatan mutu kualitas lulusan. Lulusan diarahkan untuk menjadi pengajar profesional dengan etika pendidikan yang ada. Lulusan FKIP Untirta telah banyak direkrut oleh lembaga kependidikan swasta maupun asing yang berdomisili di Banten dan sekitarnya.</b></p>
    <p><b>Fakultas Keguruan dan Ilmu Pendidikan Universitas Sultan Ageng Tirtayasa terdiri dari program studi :</b></p>
    <p><b>1. Jurusan Pendidikan Matematika</b></p>
    <p><b>2. Jurusan Pendidikan Biologi</b></p>
    <p><b>3. Jurusan Pendidikan Kimia</b></p>
    <p><b>4. Jurusan Pendidikan Fisika</b></p>
    <p><b>5. Jurusan Pendidikan IPA</b></p>
    <p><b>6. Jurusan Pendidikan Pancasila dan Kewarganegaraan</b></p>
    <p><b>7. Jurusan Pendidikan Non Formal</b></p>
    <p><b>8. Jurusan Pendidikan Olahraga</b></p>
    <p><b>9. Jurusan Pendidikan Seni Pertunjukkan</b></p>
    <p><b>10. Jurusan Pendidikan PGPAUD</b></p>
    <p><b>11. Jurusan Pendidikan Guru Sekolah Dasar</b></p>
    <p><b>12. Jurusan Pendidikan Bimbingan Konseling</b></p>
    <p><b>13. Jurusan Pendidikan Luar Sekolah</b></p>
    <p><b>14. Jurusan Pendidikan Sosiologi</b></p>
    <p><b>15. Jurusan Pendidikan Sejarah</b></p>
    <p><b>16. Jurusan Pendidikan Bahasa Inggris</b></p>
    <p><b>17. Jurusan Pendidikan Vokasional Teknik Elektro</b></p>
    <p><b>18. Jurusan Pendidikan Vokasional Teknik Mesin</b></p>
</center>
    
{% endblock %}