{% extends 'base.html' %}

{% load static %}

{% block content %}

<center>
    <img src="{% static 'img/fotoku.jpg' %}" alt="profilku" width="280px">
    <h1><b><center>AMALIA MAHARANI</center></b></h1>
</center>
<center>
    <h2>2225210090</h2>
    <h3>3 B</h3>
</center>
<center>
    <p><b>Halo semuanya! perkenalkan namaku Amalia Maharani biasa dipanggil Amel. Aku merupakan mahasiswa Universitas Sultan Ageng Tirtayasa, aku mahasiswa Pendidikan Matematika yang sedang berada di semester 3.</b></p>
    <p><b>Ini adalah halaman profilku.</b></p>
</center>

{% endblock %}