{% extends 'base.html' %} {% load static %} {% block content %}
<center>
  <h1>UNIVERSITAS SULTAN AGENG TIRTAYASA</h1>
  <img src="{% static 'img/untirtarektorat.jpeg' %}" alt="Logo Untirta" width="1200px" />
  <p>
    Universitas Sultan Ageng Tirtayasa dimulai dengan berdirinya Yayasan Pendidikan Tirtayasa pada tanggal 1 oktober 1980 berdasarkan Akte Notaris No: 1 Tahun 1980, kemudian dilakukan penyempurnaan dan dikukuhkan kembali dengan akte Notaris
    Ny. R.Arie Soetardjo, Nomor 1, Tanggal 3 Maret 1986.
  </p>
</center>

{% endblock %}
