{% extends 'base.html' %} {% load static %} {% block content %}
<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Universitas Sultan Ageng Tirtayasa</h1>
    <a href="" class="btn btn-outline-primary tombol">Tentang Untirta</a>
  </div>
</div>
<!-- Akhir Jumbotron -->

<!-- container -->

<!-- akhir container -->
<div class="container">
  <!-- Info Panel -->
  <div class="row justify-content-center">
    <div class="col-10 info-panel">
      <div class="row">
        <div class="col-lg">
          <i class="float-left fa-solid fa-users fa-4x"></i>
          <h2>777</h2>
          <p>Dosen</p>
        </div>
        <div class="col-lg">
          <i class="float-left fa-solid fa-graduation-cap fa-4x"></i>
          <h2>557</h2>
          <p>Magister</p>
        </div>
        <div class="col-lg">
          <i class="float-left fa-solid fa-user-graduate fa-4x"></i>
          <h2>212</h2>
          <p>Doktor</p>
        </div>
        <div class="col-lg">
          <i class="float-left fa-solid fa-chalkboard-user fa-4x"></i>
          <h2>19</h2>
          <p>Guru Besar</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Akhir Info Panel -->

  <!-- Workingspace -->
  <div class="row workingspace">
    <div class="col-lg-6">
      <img src="/static/img/depanuntirta.jpeg" alt="workingspace" class="img-fluid" />
    </div>
    <div class="col-lg-5">
      <h3>Untirta Jawara</h3>
      <p>Inovasi, kolaborasi dan harmonisasi UNTIRTA Jawara untuk Indonesia maju</p>
      <a href="" class="btn btn-primary tombol">Penghargaan</a>
    </div>
  </div>
  <!-- Akhir Workingspace -->

  <!-- Testimonial -->
  <section class="testimonial">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h5>"In my experience, I felt great time studying at Universitas Sultan Ageng Tirtayasa. The academics atmosphere was amazing. I like the class room situation in teaching learning process."</h5>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-6 justify-content-center d-flex">
        <figure class="figure">
          <img src="/static/img/img1.jpeg" class="figure-img img-fluid rounded-circle" alt="Testi 1" />
        </figure>
        <figure class="figure">
          <img src="/static/img/img2.jpeg" class="figure-img img-fluid rounded-circle utama" alt="Testi 2" />
          <figcaption class="figure-caption">
            <h5>Keese Ngabwe</h5>
            <span>Zambian Student</span>
          </figcaption>
        </figure>
        <figure class="figure">
          <img src="/static/img/img3.jpeg" class="figure-img img-fluid rounded-circle" alt="Testi 3" />
        </figure>
      </div>
    </div>
  </section>
  <!-- Akhir Testimonial -->

  <!-- Footer -->
  <div class="row footer">
    <div class="col text-center">
      <p>2022 All Right Reserved by Aisyah Amelia|Project TIK</p>
    </div>
  </div>
  <!-- Akhir Footer -->
</div>
{% endblock %}
