<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/"> UNTIRTA </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/faperta">FAPERTA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/feb">FEB</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fh">FH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fisip">FISIP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fk">FK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/fkip">FKIP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ft">FT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pascasarjana">Pascasarjana</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/untirta.banten.5">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/untirta_official/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/HumasUntirta">
            <i class="fa-brands fa-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:humas@untirta.ac.id">
            <i class="fa-solid fa-envelope"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Akhir Navbar -->
