<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />

    <!-- My Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Viga" rel="stylesheet" />

    <!-- My Fontawesome -->
    <link rel="stylesheet" href="fontawesome/css/all.css" />

    <!-- My CSS -->
    <link rel="stylesheet" href="style.css" />

    <title>Pasca Sarjana</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="index.html"><img src="static/img/logountirta.jpg" width="40" height="40" alt="logo" /> UNTIRTA </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="index.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Fakultas </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Fakultas Pertanian</a>
                <a class="dropdown-item" href="#">Fakultas Ekonomi dan Bisnis</a>
                <a class="dropdown-item" href="#">Fakultas Hukum</a>
                <a class="dropdown-item" href="#">Fakultas Ilmu Sosial dan Ilmu Politik</a>
                <a class="dropdown-item" href="#">Fakultas Kedokteran</a>
                <a class="dropdown-item" href="#">Fakultas Keguruan dan Ilmu Pendidikan</a>
                <a class="dropdown-item" href="#">Fakultas Teknik</a>
                <a class="dropdown-item" href="#">Pascasarjana</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Kalender Akademik</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/untirta.banten.5">
                <i class="fa-brands fa-facebook"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.instagram.com/untirta_official/">
                <i class="fa-brands fa-instagram"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/HumasUntirta">
                <i class="fa-brands fa-twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="mailto:humas@untirta.ac.id">
                <i class="fa-solid fa-envelope"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Selamat Datang di Pascasarjana</h1>
      </div>
    </div>
    <!-- Akhir Jumbotron -->
  </body>
</html>
